body {
    text-align: center;
}

h1 {
    font-family: arial-black;
}

table.center {
    margin-left: auto; 
    margin-right: auto;
}

td {

    width: 100px;
    height: 100px;
    border: 2px solid black;
    font-family: arial;
    font-size: 74px;
    text-align: center;
}

button {
    width: 150px;
    height: 48px;
    background-color: dodgerblue;
    color: white;
    border-radius: 20px;
    font-family: arial;
    font-size: 24px;
    outline: none;
    margin: 20px;
}

.winners {
    display: flex;
    justify-content: space-around;
    font-family: verdana;
}

#x-count, #o-count {
    font-family: arial-black;
    font-size: 18px;
}